POSTGRES_DB=agendadb
POSTGRES_USER=agendauser
POSTGRES_PASSWORD=agendapass
POSTGRES_PORT=5432

BACKEND_PORT=8000
ADMINER_PORT=8080

# App
DATA_DIR=/app/data

# Agenda window
# start_day default: hoy + 14 días
HORIZON_DAYS=365
VISITS_PER_DAY=4

